.input-home{
    padding: 10px;
    width: 100%;
}

.form-contenedor{
    display: flex;
    flex-direction: row;
    border: 3px solid white;
    border-radius: 5px;
    width: 35%;
    background-color: white;
}

.button-style{
    color: black;
    text-align: center;
    font-size: 30px;
    padding: 0 2% 0 2%;
}